body {
    cursor: url('imgs/Subject 42.png'), auto;
    background-color: black;
    width: auto;
}

::-moz-selection {
    background: rgba(255, 255, 255, 0.6);
    color: rgba(139, 0, 139, 0.6);
}

::selection {
    background: rgba(255, 255, 255, 0.6);
    color: rgba(139, 0, 139, 0.6);
}

h1 {
    color: ghostwhite;
    text-align: center;
    font-size: 100pt;
    font-family: "fabiola-capitals", sans-serif;
    font-weight: 400;
    font-style: normal;
    animation: glowText 1s ease-in-out infinite alternate;
    line-height: 90pt;
    position: fixed;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -50%);
}

#tales {
    font-family: "fabiola-script", sans-serif;
    font-weight: 400;
    font-style: normal;
}



.info {
    color: ghostwhite;
    font-size: 15pt;
    text-align: center;
    opacity: 90%;
    font-family: "neulis-neue-hairline", sans-serif;
font-weight: 100;
font-style: normal;


}

@keyframes glowText {
    0% {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #667788, 0 0 40px #667788, 0 0 50px #667788, 0 0 60px #667788, 0 0 70px #667788;
    }
    100% {
        text-shadow: 0 0 20px #fff, 0 0 30px #7a2ce8, 0 0 40px #7a2ce8, 0 0 50px #7a2ce8, 0 0 60px #7a2ce8, 0 0 70px #7a2ce8, 0 0 80px #7a2ce8;
    }
}



.st0, image {scale: 25%;

    position: relative;
    left: 200px;
}
  




.last {color: #7a2ce8; 
    text-align: center; 
    font-size: 45pt;
    position: relative;
    top: 0px;
    font-family: "neulis-neue", sans-serif;
    font-weight: 700;
    font-style: normal;}


.time {color: ghostwhite;
    position: relative;
    text-align: center;
    font-size: 17pt;
    font-family: "neulis-neue-hairline", sans-serif;
font-weight: 100;
font-style: normal;
top: -600px;

}    


.dets {color: #7a2ce8; 
    text-align: center; 
    position: relative;
    font-size: 15pt;
    position: relative;
    top: px;
   margin-left: 20%; 
   margin-right: 20%;}


@media (max-width: 868px) {
  
.st0, image {scale: 35%;} 
}

    @media (max-width: 1200px) {
  

@media (max-width: 688px) {
    .st0, image {scale: 35%;}
  }







