
body {background-color: black;
cursor: url('imgs/Subject 42.png'), auto;
margin: 65px}

::-moz-selection { background: whitesmoke; 
                   color: darkorchid; opacity: 60%;}

::selection { background: whitesmoke; 
              color: darkorchid;
              opacity: 60%;} 

p {text-align: center; color: lavender; font-size: 20px; 
  position: relative;
  top: -50pt;
  font-family: "miller-display", serif;
  font-weight: 400;
  font-style: normal; 
  text-align:center;}


a {color: white;
    text-decoration: underline;
    text-align: left;
    font-size: 15pt;
    line-height: 50px;
    margin: 30px;
    text-align: center;}

}

a:visited {
    color: white;
}

h1 {color: ghostwhite; text-align: center; font-size:200px;
    font-size: 170pt;
    font-family: "fabiola-capitals", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    animation: glow 1s ease-in-out infinite alternate;
    text-align: center;
line-height: 90pt;
}


    #tales {
    font-family: "fabiola-script", sans-serif;
    font-weight: 400;
    font-style: normal; }

    @-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #667788, 
        0 0 40px #667788, 0 0 50px #667788, 0 0 60px #667788, 0 0 70px #667788;
    }

    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #7a2ce8, 0 0 40px #7a2ce8,
         0 0 50px #7a2ce8, 0 0 60px #7a2ce8, 0 0 70px #7a2ce8, 0 0 80px #7a2ce8;
    }

.moon-phases {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.moon-phase {
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    text-align: center;
    flex: 1;
    margin: 5px;
}

img {z-index: 1}
@media (max-width: 868px) {
  body { background-color: black; } }

    @media (max-width: 1200px) {
  body { background-color: darkorchid;} }

@media (max-width: 688px) {
  body {  background-color: darkblue; } }


.flex { display:flex; flex-wrap: wrap; 
    flex-direction: row, column; justify-content: space-evenly, 20px;
    height: 300px;
    margin: 50px; 
 text-align: center;} 

 div { margin-left: 50px;
 margin-right:50px; 
text-align: center;} 
 


 
