img {
    width: 55px;
                height: 75px;
                position: fixed;
                top: 65px;
                left: 58%;


}

.cres { width: 72px;
                height: 72px;
                position: fixed;
                top: 70px;
                left: 37%;
                 }

a {color: #765ab8;
    text-decoration: underline;
    text-align: center;
    font-size: 12pt;
    font-family: the-seasons, sans-serif;
font-weight: 400;
font-style: normal;
position: fixed;

top: 92px;
left: 47%;

    text-align: center;}

}

a:visited {
    color: white; } 



h1 {
    color: white;
    text-align: center;
    font-size: 100pt;
    font-family: "fabiola-capitals", sans-serif;
    font-weight: 400;
    font-style: normal;
    animation: glowText 1s ease-in-out infinite alternate;
    line-height: 90pt;
    position: fixed;
    left: 50%;
    top: 18%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

#tales {
    font-family: "fabiola-script", sans-serif;
    font-weight: 400;
    font-style: normal;
}


@keyframes glowText {
    0% {
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.8), 0 0 30px rgba(102, 119, 136, 0.8), 0 0 40px rgba(102, 119, 136, 0.8), 0 0 50px rgba(102, 119, 136, 0.8), 0 0 60px rgba(102, 119, 136, 0.8), 0 0 70px rgba(102, 119, 136, 0.8);
    }
    100% {
        text-shadow: 0 0 20px rgba(255, 255, 255, 0.8), 0 0 30px #7a2ce8, 0 0 40px #7a2ce8, 0 0 50px #7a2ce8, 0 0 60px #7a2ce8, 0 0 70px #7a2ce8, 0 0 80px #7a2ce8;
    }
}

.sub { font-size: 16pt; text-align: center; color: ghostwhite; 
	opacity: 70%;
font-family: fields, sans-serif;
font-weight: 300;
font-style: normal;}


.first { color: ghostwhite; font-weight: 70; 
   text-align: center; font-size: 100px;
font-family: fields, sans-serif;
font-weight: 500;
font-style: normal;
   font-size: 50pt; 
   line-height: 2pt}
body {
    
    margin: 0;
    padding: 0;
    background-color: #1b1b1c; 
    color: #333; 
    cursor: url('imgs/Subject 42.png'), auto;
}


p1 { color:silver; font-family: helvetica; font-size: 12; font-weight: 70;}

p2 { color: ghostwhite;text-align: center;}

p { color: #735da3; opacity: 100%; text-align: center; font-size: 16pt; 
	margin: 50pt, 15pt; line-height: 17.5pt;}

.sec {color: white; opacity: 80%; font-family: fields, sans-serif;
font-weight: 500;
font-style: normal; font-size:30px }	

form {margin: 50px,15px; text-align: center; color: #735da3; 
font-family: fields, sans-serif;
font-weight: 300;
font-style: normal; }
fieldset {margin-left: 400px; margin-right: 400px; text-align: center;}
marquee { font-family: fields, sans-serif;
font-weight: 300;
font-style: normal; }
meter {
   width: 100px;
   height : 15px;}

   div {display: grid;
  grid-template-columns: 2;
  grid-row: 1;
  background-color:;
  padding: 10px;}

ol { color: #cecad9; font-size: 14pt; margin-left: 30px }  

ul { color: #735da3; margin-left: 35px } 


h4 {color:#1B0547; font-size: 16pt; margin-left: 25px}

::-moz-selection { background: whitesmoke; 
                   color: darkorchid; opacity: 60%;}

::selection { background: whitesmoke; 
              color: darkorchid;
              opacity: 60%;} 
