

img {
    width: 60px;
                height: 80px;
                position: fixed;
                top: 5px;
                left: 38%;


}

.cres { width: 60px;
                height: 70px;
                position: fixed;
                top: 7px;
                left: 58%;
                 }

a {color: #765ab8;
    text-decoration: underline;
    text-align: center;
    font-size: 12pt;
    font-family: the-seasons, sans-serif;
font-weight: 400;
font-style: normal;
position: fixed;

top: 32px;
left: 47%;

    text-align: center;}

}

a:visited {
    color: white; } 



.transit {font-family: "tangly-lines-symmetric", sans-serif;
font-weight: 400;
font-style: normal; font-size: 100pt; text-align: center; line-height: 1;
color: floralwhite;
 background: linear-gradient( 
            to bottom, #5a1cb0, white, white, white, #5a1cb0); 
        -webkit-text-fill-color: transparent; 
        -webkit-background-clip: text; 
}

.transi {font-family: "tangly-lines-symmetric", sans-serif;
font-weight: 400;
font-style: normal; font-size: 100pt; text-align: center; line-height: 1;
color: floralwhite;
 background: linear-gradient( 
            to top, #5a1cb0, white, white, white, white, white, #5a1cb0); 
        -webkit-text-fill-color: transparent; 
        -webkit-background-clip: text; }

h1 {
    color: white;
    text-align: center;
    font-size: 100pt;
    font-family: "fabiola-capitals", sans-serif;
    font-weight: 400;
    font-style: normal;
    animation: glowText 1s ease-in-out infinite alternate;
    line-height: 90pt;
    position: fixed;
    left: 50%;
    top: 12%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

#tales {
    font-family: "fabiola-script", sans-serif;
    font-weight: 400;
    font-style: normal;
}


@keyframes glowText {
    0% {
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.8), 0 0 30px rgba(102, 119, 136, 0.8), 0 0 40px rgba(102, 119, 136, 0.8), 0 0 50px rgba(102, 119, 136, 0.8), 0 0 60px rgba(102, 119, 136, 0.8), 0 0 70px rgba(102, 119, 136, 0.8);
    }
    100% {
        text-shadow: 0 0 20px rgba(255, 255, 255, 0.8), 0 0 30px #7a2ce8, 0 0 40px #7a2ce8, 0 0 50px #7a2ce8, 0 0 60px #7a2ce8, 0 0 70px #7a2ce8, 0 0 80px #7a2ce8;
    }
}



#more {text-align: left;}

p {font-family: "miller-display", serif;
font-weight: 400;
font-style: normal; text-align:center;
 font-size: 15pt;color: lightgrey;}

h5 {font-family: "miller-display", serif;
font-weight: 400;
font-style: normal; text-align:center;
 font-size: 25pt;}
p2 {font-family: "miller-display", serif;
font-weight: 400;
font-style: normal; text-align:center;}

p1 {text-align: center;}

h2 {font-family: "miller-display", serif;
font-weight: 400;
font-style: normal; 
text-align:center;
font-size: 60pt}

h4 {text-align: center; color: lightgrey;
font-family: "miller-display", serif;
font-weight: 300;
font-style: normal; text-align:center;font-size: 15pt}

body {background-color: black;
color: floralwhite;}

 .zigzag {
    white-space: pre;
  }
  .zigzag span {
    display: block;
    padding-left: 30px;
    text-align: center;
    font-size: 20pt;
     margin-right: 45pt;
     color: lightgrey;
      background: linear-gradient( 
            to right, white, white, #5a1cb0, #5a1cb0); 
        -webkit-text-fill-color: transparent; 
        -webkit-background-clip: text; 
}


 .zigzag span:nth-child(odd) {
    transform-origin: 0 0;
    transform: rotate(-5deg);
  }
  .zigzag span:nth-child(even) {
    transform-origin: 0 0;
    transform: rotate(5deg);}



::-moz-selection { background: whitesmoke; 
                   color: darkorchid; opacity: 60%;}

::selection { background: whitesmoke; 
              color: darkorchid;
              opacity: 60%;} 