body{background: floralwhite;}

.main {width: 1500px; max-height: 120%; align-content: center; }

/* Container holding the image and the text */
.ttw {
  position: relative;
  text-align: center;
  color: ; } 


  /* Top left text */
.left {
  position: fixed;
  top: 150px;
  left: 120px;
  font-size: 100px;
  font-family: "seismic-latin-variable", sans-serif;
font-variation-settings: "SEIS" 0, "wght" 458; color: #5A8397;
transition: all 0.8s ease;

}

.right {position: fixed;
  top: 150px;
  right: 170px;
  font-size: 100px;
  font-family: "seismic-latin-variable", sans-serif;
font-variation-settings: "SEIS" 0, "wght" 458; color: #5A8397;
transition: all 0.8s ease;
}

.centered { 
position: sticky;
  top: 850px;
  left: 40.5%;
  text-align: center;
  font-size: 100px;
  font-family: "seismic-latin-variable", sans-serif;
font-variation-settings: "SEIS" 0, "wght" 458;
color: #5A8397;
transition: all 0.8s ease;
 }


.left:hover{
  	cursor: pointer;
 	font-family: "seismic-latin-variable", sans-serif;
font-variation-settings: "SEIS" 100, "wght" 458;
 }

 .right:hover{
  	cursor: pointer;
 	font-family: "seismic-latin-variable", sans-serif;
font-variation-settings: "SEIS" 100, "wght" 458;
 }

.centered:hover{
  	cursor: pointer;
 	font-family: "seismic-latin-variable", sans-serif;
font-variation-settings: "SEIS" 100, "wght" 458;
 }

 *{
 	padding: 0;
  margin: 0;
 }

 .ttw{
  width: 100%;
  height: 102vh;
  background: linear-gradient(
    to right,
    floralwhite 0%,
    floralwhite 50%,
    #03253a 50%,
    #03253a 100%
  ) }

  .sub { font-family: "seismic-latin-variable", sans-serif;
font-variation-settings: "SEIS" 0, "wght" 458; text-align: center; left: 41%; color: #03253a; font-size: 20px}

.scroll { font-family: "seismic-latin-variable", sans-serif; font-size: 800px; font-weight: 15;
font-variation-settings: "SEIS" 0, "wght" 458; text-align: center; left: 41%; color: #03253a; }

.scroll:hover .text:hover;{ background-color: url("imgs/m9da147p2serbn988i6h4vsk0n.png");}


summary{font-family: "seismic-latin-variable", sans-serif;
font-variation-settings: "SEIS" 100, "wght" 458; font-size: 50px;
color: #03253a;}

em {font-size: 20px;
  font-family: "seismic-latin-variable", sans-serif;
font-variation-settings: "SEIS" 0, "wght" 458; color: #5A8397;}

::-moz-selection { background: whitesmoke; 
                   color: darkorchid; opacity: 60%;}

::selection { background: whitesmoke; 
              color: darkorchid;
              opacity: 60%;} 



