img {
    width: 70px;
                height: 75px;
                position: fixed;
                top: 10px;
                left: 37%;


}

.cres { width: 70px;
                height: 70px;
                position: fixed;
                top: 7px;
                left: 58%;
                 }

a {color: #765ab8;
    text-decoration: underline;
    text-align: center;
    font-size: 12pt;
    font-family: the-seasons, sans-serif;
font-weight: 400;
font-style: normal;
position: fixed;

top: 32px;
left: 47%;

    text-align: center;}

}

a:visited {
    color: white; } 


body {
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1b1b1c; 
    color: #333; 
    cursor: url('imgs/Subject 42.png'), auto;
}

/* Container holding the image and the text */
h1 {
    color: white;
    text-align: center;
    font-size: 100pt;
    font-family: "fabiola-capitals", sans-serif;
    font-weight: 400;
    font-style: normal;
    animation: glowText 1s ease-in-out infinite alternate;
    line-height: 90pt;
    position: fixed;
    left: 50%;
    top: 12%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

#tales {
    font-family: "fabiola-script", sans-serif;
    font-weight: 400;
    font-style: normal;
}


@keyframes glowText {
    0% {
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.8), 0 0 30px rgba(102, 119, 136, 0.8), 0 0 40px rgba(102, 119, 136, 0.8), 0 0 50px rgba(102, 119, 136, 0.8), 0 0 60px rgba(102, 119, 136, 0.8), 0 0 70px rgba(102, 119, 136, 0.8);
    }
    100% {
        text-shadow: 0 0 20px rgba(255, 255, 255, 0.8), 0 0 30px #7a2ce8, 0 0 40px #7a2ce8, 0 0 50px #7a2ce8, 0 0 60px #7a2ce8, 0 0 70px #7a2ce8, 0 0 80px #7a2ce8;
    }
}



  /* Top left text */
.left {
  position: fixed;
  top: 150px;
  left: 120px;
  font-size: 100px;
  font-family: "seismic-latin-variable", sans-serif;
font-variation-settings: "SEIS" 0, "wght" 458; color: #5A8397;
transition: all 0.8s ease;

}

.right {position: fixed;
  top: 150px;
  right: 170px;
  font-size: 100px;
  font-family: "seismic-latin-variable", sans-serif;
font-variation-settings: "SEIS" 0, "wght" 458; color: #5A8397;
transition: all 0.8s ease;
}

.centered { 
position: sticky;
  top: 850px;
  left: 40.5%;
  text-align: center;
  font-size: 100px;
  font-family: "seismic-latin-variable", sans-serif;
font-variation-settings: "SEIS" 0, "wght" 458;
color: #5A8397;
transition: all 0.8s ease;
 }


.left:hover{
  	cursor: pointer;
 	font-family: "seismic-latin-variable", sans-serif;
font-variation-settings: "SEIS" 100, "wght" 458;
 }

 .right:hover{
  	cursor: pointer;
 	font-family: "seismic-latin-variable", sans-serif;
font-variation-settings: "SEIS" 100, "wght" 458;
 }

.centered:hover{
  	cursor: pointer;
 	font-family: "seismic-latin-variable", sans-serif;
font-variation-settings: "SEIS" 100, "wght" 458;
 }



 .ttw{
  width: 100%;
  height: 100%;
  background-color: purple;
   }

  .sub { font-family: "seismic-latin-variable", sans-serif;
font-variation-settings: "SEIS" 0, "wght" 458; text-align: center; left: 41%; color: ghostwhite; font-size: 20px}

.scroll { font-family: "seismic-latin-variable", sans-serif; font-size: 20px; font-weight: 15;
font-variation-settings: "SEIS" 0, "wght" 458; position: relative;text-align: center; left: 40%; color: #1b1133; 
line-height: 40px; width: 300px;
  height: 300px;
  background: ghostwhite;
  border-radius: 50%;
  border-style: ;
  box-shadow: 0 4px 8px 10px #74747d;
  filter: blur(0px);
  }

.scroll:hover { background: linear-gradient(to right, ghostwhite,  #4a148c);
transition: background 0.3s ease;
filter: blur(2px); color: transparent;}


summary{font-family: "seismic-latin-variable", sans-serif;
font-variation-settings: "SEIS" 10, "wght" 458; font-size: 50px;
color: ghostwhite; }

summary:hover { font-family: "seismic-latin-variable", sans-serif;
font-variation-settings: "SEIS" 100, "wght" 458; }

em {font-size: 20px;
  font-family: "seismic-latin-variable", sans-serif;
font-variation-settings: "SEIS" 0, "wght" 458; color: #9d79d4;}

::-moz-selection { background: whitesmoke; 
                   color: darkorchid; opacity: 60%;}

::selection { background: whitesmoke; 
              color: darkorchid;
              opacity: 60%;} 



